<%-include("partials/header")-%>

<h1>Compose</h1>

<form class="/compose" action="/compose" method="post">

  <div class="form-group">
    <input type="text" class="form-control" name="postTitle">
  </div>

  <div class="form-group">
    <textarea class="form-control" rows="8" cols="80"  name="postBody"></textarea>
  </div>

  <div class="form-group">
    <button class="form-check-label btn btn-primary" type="submit" name="compose">Publish</button>
  </div>

</form>

<%-include("partials/footer")-%>
