<%-include("partials/header")-%>

<h1>Home</h1>




<% moreContent.forEach(function(content){%>
  <%console.log(content.title);%>
  <h1><%=content.title%></h1>
  <p><%=content.body%></p>

<%}); %>

<%-include("partials/footer")-%>
